%hidden{
  opacity: 0;
  visibility: hidden;
}
%visible{
	opacity: 1;
	visibility: visible;
}
%button{
	width: $bMedium;
	padding: 14px;
	border: 3px solid $themeColor;
	background: $themeColor;
	color: #FFF;
	font: 700 14px/16px $primaryFont;
	border-radius: 40px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.75px;
	transition:
		color $fastSpeed linear,
		background $fastSpeed linear;
	&:hover{
		color: $themeColor;
		background: transparent;
	}
}
%buttonShadowed{
	transition:
		color $fastSpeed linear,
		background $fastSpeed linear,
		box-shadow $fastSpeed linear;
	box-shadow: 0 15px 20px 10px #F3F3F3;
}
%buttonShadowedHover{
	color: $themeColor;
	background: transparent;
	box-shadow: 0 0 0 0 transparent;
}
%shadowed{
	transition: box-shadow $fastSpeed linear;
	box-shadow: 0 15px 20px 10px #F3F3F3;
	&:hover{
		box-shadow: 0 0 0 0 transparent;
	}
}
%link{
	position: relative;
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 2px;
		margin-top: 3px;
		background: $themeColor;
		transition:
			transform $fastSpeed linear,
			opacity $fastSpeed linear,
			visibility $fastSpeed linear;
		transform: scale(0) translate(0,10px);
		@extend %hidden;
	}
}
%linkHover{
	&::before{
		transform: scale(1) translate(0,0);
		@extend %visible;
	}
}
%smallHeadline{
	letter-spacing: 1.75px;
	font: 700 14px/16px $primaryFont;
	text-transform: uppercase;
}
%sectionTitle{
	margin: 0 0 30px;
	color: #2F2F2F;
	font: 900 44px/1.136363636 $primaryFont;
	letter-spacing: -0.24px;
}
%smallTitle{
	font: 600 12px/14px $primaryFont;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
%pageTitle{
	font-size: 44px;
	line-height: 50px;
	text-align: center;
}