	$pageAbout: '.page-about';
/* ========================================================================== */
	#{$pageAbout}{
		#{$intro}{
			padding-bottom: 133px;
			margin-bottom: 0;
			h1{
				margin-bottom: 59px;
			}
			p{
				max-width: 910px;
			}
		}
	}
/* ========================================================================== */