	$sideImage: '.side-image';
/* ========================================================================== */
	#{$sideImage}{
		position: absolute;
		width: auto;
		top: 258px;
		right: 0;
	}
/* ========================================================================== */