	$sCTA: '.s-cta';
/* ========================================================================== */
	#{$sCTA}{
		.mw{
			max-width: 588px;
		}
		p{
			font-size: 18px;
		}
	}
/* ========================================================================== */